In [3]:
import pandas as pd
import glob

# CSVファイルのパスを指定
path = 'C:/Users/100ca/Documents/PyCode/scraping/data/*.csv'

# パスにマッチするすべてのファイルを取得
csv_files = glob.glob(path)

# 各CSVファイルに対して処理
for file in csv_files:
    # CSVファイルを読み込み
    df = pd.read_csv(file)
    
    # 'salary_25_29'列で降順にソート
    df = df.sort_values(['salary_25_29','salary'], ascending=False)
    display(df)
    # 同じファイル名でCSVファイルを上書き保存
    df.to_csv(file, index=False)

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,任天堂株式会社,1074,32,1228.0,NaN,721.0,597.0,NaN,NaN,NaN,NaN
1,株式会社キーエンス,1205,56,976.0,1304.0,1473.0,1499.0,NaN,NaN,NaN,NaN
2,日本郵船株式会社,800,34,707.0,758.0,NaN,NaN,830.0,NaN,NaN,NaN
3,中外製薬株式会社,1060,28,700.0,845.0,996.0,1126.0,1360.0,1312.0,NaN,NaN
4,ファナック株式会社,813,48,696.0,783.0,790.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
154,アサヒグループホールディングス株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,宝ホールディングス株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,富士フイルムホールディングス株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,株式会社バンダイナムコホールディングス,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,東急不動産ホールディングス株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,ゴールドマン・サックス,1497,66,1183.0,1739.0,NaN,NaN,1270.0,NaN,NaN,NaN
1,日本マイクロソフト,1255,37,934.0,1039.0,1077.0,1265.0,1490.0,1811.0,NaN,NaN
2,ブルームバーグ・エル・ピー,819,24,846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,シスコシステムズ,1116,37,814.0,NaN,1093.0,1094.0,1156.0,1356.0,NaN,NaN
4,Google,1085,32,761.0,1027.0,1200.0,1200.0,1667.0,NaN,NaN,NaN
5,マッキンゼー・アンド・カンパニー,1240,75,748.0,1325.0,1644.0,NaN,NaN,NaN,NaN,NaN
6,中外製薬,1060,28,700.0,845.0,996.0,1126.0,1360.0,1312.0,NaN,NaN
7,セールスフォース・ドットコム,1140,37,683.0,963.0,1300.0,1316.0,2011.0,NaN,NaN,NaN
8,EYストラテジー・アンド・コンサルティング,963,50,672.0,899.0,895.0,1581.0,1179.0,NaN,NaN,NaN
9,KPMGコンサルティング,915,47,659.0,908.0,902.0,1164.0,NaN,NaN,NaN,NaN
10,日本オラクル,857,32,643.0,751.0,854.0,697.0,950.0,1112.0,1290.0,NaN
11,プルデンシャル生命保険,865,50,628.0,765.0,1012.0,1060.0,1152.0,NaN,NaN,NaN
12,バイエル,962,29,620.0,846.0,793.0,1011.0,1193.0,1076.0,1250.0,NaN
13,ジョンソン・エンド・ジョンソン,845,40,619.0,750.0,987.0,989.0,1008.0,971.0,NaN,NaN
14,アクセンチュア,797,41,614.0,843.0,950.0,1057.0,1000.0,NaN,NaN,NaN
15,アストラゼネカ,790,35,588.0,719.0,797.0,863.0,1060.0,NaN,NaN,NaN
16,イーライリリー,862,27,582.0,768.0,791.0,983.0,1071.0,1153.0,NaN,NaN
17,日本ヒューレット・パッカード,854,33,568.0,648.0,649.0,763.0,870.0,1016.0,1074.0,1708.0
18,ブリティッシュ・アメリカン・タバコ・ジャパン,661,20,564.0,586.0,565.0,855.0,658.0,700.0,NaN,NaN
19,LINE,690,26,560.0,631.0,770.0,833.0,848.0,NaN,NaN,NaN
20,エヌエヌ生命保険,769,34,555.0,710.0,932.0,NaN,NaN,NaN,NaN,NaN
21,GEジャパン,795,35,550.0,720.0,717.0,829.0,771.0,NaN,NaN,NaN
22,Apple Japan,643,17,550.0,564.0,564.0,736.0,NaN,NaN,NaN,NaN
23,アフラック生命保険,640,30,546.0,610.0,667.0,793.0,759.0,811.0,NaN,NaN
24,BASFジャパン,752,27,540.0,606.0,723.0,790.0,819.0,NaN,956.0,NaN
25,アマゾンジャパン,733,29,534.0,685.0,668.0,900.0,1023.0,897.0,NaN,NaN
26,モルガン・スタンレー,671,32,509.0,637.0,906.0,631.0,1063.0,NaN,1100.0,NaN
27,日本ロレアル,549,26,504.0,479.0,483.0,723.0,721.0,NaN,NaN,NaN
28,ネスレ日本,633,30,488.0,650.0,563.0,NaN,718.0,NaN,NaN,NaN
29,メットライフ生命保険,679,30,471.0,576.0,608.0,766.0,813.0,885.0,709.0,NaN
30,ルイ・ヴィトンジャパン,529,20,417.0,468.0,526.0,573.0,559.0,NaN,NaN,NaN
31,マニュライフ生命保険,553,26,350.0,392.0,636.0,609.0,678.0,621.0,NaN,NaN
32,ロクシタンジャポン,338,19,269.0,356.0,388.0,444.0,494.0,NaN,NaN,NaN
41,ノバルティスファーマ,970,26,NaN,704.0,898.0,983.0,1149.0,1261.0,1213.0,NaN
39,サノフィ,960,26,NaN,713.0,945.0,967.0,1078.0,942.0,NaN,NaN
34,マーサージャパン,959,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,シティグループ,1278,59,NaN,NaN,1956.0,NaN,940.0,NaN,NaN,NaN
40,ファイザー,1158,16,NaN,NaN,878.0,NaN,1072.0,1300.0,1225.0,NaN
33,ベイン・アンド・カンパニー,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,バークレイズ,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,BNPパリバ,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,AIGジャパン・ホールディングス,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,ユニリーバ・ジャパン,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,ダウ・ケミカル日本,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,デュポン,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,株式会社ディスコ,760,37,697.0,697.0,NaN,NaN,787.0,NaN,NaN,NaN
1,ソニーグループ株式会社,877,34,645.0,704.0,764.0,853.0,1304.0,939.0,1141.0,1224.0
2,ルネサスエレクトロニクス株式会社,728,34,631.0,529.0,638.0,740.0,722.0,863.0,778.0,767.0
3,三菱電機株式会社,670,36,606.0,644.0,765.0,785.0,NaN,NaN,NaN,NaN
4,オムロン株式会社,701,23,584.0,585.0,619.0,709.0,719.0,904.0,910.0,1098.0
...,...,...,...,...,...,...,...,...,...,...,...
63,ホシデン株式会社,650,29,NaN,NaN,NaN,NaN,NaN,740.0,NaN,NaN
65,株式会社ニューフレアテクノロジー,626,36,NaN,530.0,NaN,750.0,NaN,NaN,NaN,NaN
67,太陽誘電株式会社,470,33,NaN,NaN,507.0,NaN,NaN,NaN,NaN,NaN
64,メイコー株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,ニデック株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,株式会社ディスコ,760,37,697.0,697.0,NaN,NaN,787.0,NaN,NaN,NaN
1,ソニーグループ株式会社,877,34,645.0,704.0,764.0,853.0,1304.0,939.0,1141.0,1224.0
2,ルネサスエレクトロニクス株式会社,728,34,631.0,529.0,638.0,740.0,722.0,863.0,778.0,767.0
3,三菱電機株式会社,670,36,606.0,644.0,765.0,785.0,NaN,NaN,NaN,NaN
4,オムロン株式会社,701,23,584.0,585.0,619.0,709.0,719.0,904.0,910.0,1098.0
...,...,...,...,...,...,...,...,...,...,...,...
63,ホシデン株式会社,650,29,NaN,NaN,NaN,NaN,NaN,740.0,NaN,NaN
65,株式会社ニューフレアテクノロジー,626,36,NaN,530.0,NaN,750.0,NaN,NaN,NaN,NaN
67,太陽誘電株式会社,470,33,NaN,NaN,507.0,NaN,NaN,NaN,NaN,NaN
64,メイコー株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,ニデック株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,company,salary,overtime,salary_25_29,salary_30_34,salary_35_39,salary_40_44,salary_45_49,salary_50_54,salary_55_59,salary_60_up
0,ゴールドマン・サックス証券,1497,66,1183.0,1739.0,NaN,NaN,1270.0,NaN,NaN,NaN
1,A.T.カーニー,1047,65,1129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,三菱商事株式会社,1538,37,877.0,1281.0,1527.0,1508.0,NaN,2033.0,1739.0,2676.0
3,三井物産株式会社,1385,34,782.0,1229.0,1271.0,NaN,NaN,1512.0,1953.0,1763.0
4,ソニーグループ株式会社,877,34,645.0,704.0,764.0,853.0,1304.0,939.0,1141.0,1224.0
5,三井不動産株式会社,846,37,640.0,856.0,NaN,NaN,NaN,NaN,NaN,NaN
6,日本アイ・ビー・エム,919,39,629.0,699.0,946.0,976.0,1057.0,1220.0,1193.0,1144.0
7,野村證券,769,32,616.0,731.0,1042.0,942.0,NaN,NaN,NaN,NaN
8,株式会社日立製作所,723,37,601.0,665.0,763.0,851.0,831.0,898.0,1136.0,NaN
9,三菱総合研究所,786,61,594.0,746.0,NaN,NaN,NaN,NaN,NaN,NaN
10,日本政策投資銀行,861,35,592.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,サントリーホールディングス,743,30,564.0,695.0,689.0,NaN,NaN,NaN,950.0,750.0
12,楽天グループ株式会社,660,37,545.0,698.0,759.0,797.0,943.0,NaN,NaN,NaN
13,東京海上日動火災保険,651,31,544.0,638.0,651.0,779.0,764.0,1051.0,NaN,NaN
14,三菱UFJ銀行,780,30,518.0,695.0,764.0,789.0,1053.0,1253.0,1182.0,NaN
15,ソフトバンクグループ,581,37,512.0,683.0,673.0,700.0,NaN,NaN,NaN,NaN
16,三井住友信託銀行,659,39,498.0,781.0,776.0,905.0,NaN,NaN,NaN,NaN
17,JPモルガン証券,1147,61,NaN,NaN,NaN,800.0,NaN,NaN,NaN,NaN
18,UBS証券株式会社,---,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN